<div class="container">
    <nav class="navbar navbar-expand-lg navbar light bg-light">
        <img src="/book-icon.png">
        <a class="navbar-brand" href="/"><h1>ourBooks</h1></a>{{#if username}} - {{{username}}} {{/if}}
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/books">Βιβλία</a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link" href="/about">about</a>
            </li> --}}
            {{#if username}}
                   <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
            </li>
            {{/if}}
{{!-- <h2>My Books</h2>
<a href="/addbookform"> Add a Book </a> --}}
</ul>
</nav>
</div>